/*****
 * TABLE OF CONTENTS
 *
 * GLOBAL SETTINGS
 *   - body, html
 *   - paragraphs
 *   - lists
 *   - headers
 *   - links
 *   - strong
 *   - blockquote
 *   - textshadow
 *   - horizontal ruler
 *   - media
 *   - fieldset
 *   - textarea
 *   - helper classes
 *   - clearfix
 *   - search hide
 * BOOTSTRAP OVERRIDES
 *   - breakpoint
 *   - support-ie10-width
 *   - padding
 *
 *****/
 
 /*------------------------------------*\
    #BODY, HTML
\*------------------------------------*/
   
html,
button,
input,
select,
textarea {
  color: #222;
}

body {
	background: #efefef;
	background: url('../../../base_theme/img/bg/bg-body.jpg') center -1px repeat-y;
}
	
body, 
html {
  font-family: $roma;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.4;
}

/*------------------------------------*\
    #PARAGRAPHS
\*------------------------------------*/

.text_styles {
	font-family: $roma;
	word-wrap: break-word;
	@include smoothing;
	@include font-size(18px);
}
   
p {
  @extend .text_styles;
	@include font-size(18px);
	line-height: 1.5em;
	margin: 0 0 1.5em 0;
	color: #4d4d4d;
}

/*------------------------------------*\
  #LISTS
\*------------------------------------*/

li {
	@extend .text_styles;
	list-style-type: none;
	color: $gray;
	a {
		@extend .text_styles;
	}
}

ol {
	@extend .text_styles;
	&.bullet-list {
		margin-top: 10px;
		margin-bottom: 10px;
		li {
			list-style-type: disc;
		}
	}
	&.numbered-list {
		li {
			list-style-type: decimal;
		}
	}
}

ul {
	&.bullet-list {
		margin-top: 10px;
		margin-bottom: 10px;
		li {
			list-style-type: disc;
		}
	}
	&.numbered-list {
		li {
			list-style-type: decimal;
		}
	}
}

/*------------------------------------*\
  #HEADERS
\*------------------------------------*/
   
#{headings()} {
	 margin-bottom: 20px;
	 word-wrap: break-word;
	 font-weight: normal; 
	 line-height: 1.1;
	 @include smoothing;
}

h1 {
	font-family: $pal;
	font-size: 2.5em;
	line-height: 1;
	color: #1a1a1a;
}

h2 {
	font-family: $helvMedi;
	font-size: 1.625em;
	color: #333333;
}

h3 {
	font-family: $helvLigh;
	font-size: 1.7em;
	color: #0e76bc;
}

h4 {
	font-family: $helvlt;
	font-size: 1.75em;
	font-weight: normal;
	color: #4d4d4d;
	letter-spacing: 0.05em;
}

h5 {
	font-family: $helvMedi;
	font-size: 1.313em;
	color: #262626;
}

h6 {
	font-family: $helvBold;
	font-size: 1.125em;
	color: #54afdb;
	text-transform: uppercase;
}

/*------------------------------------*\
  #LINKS
\*------------------------------------*/

a {
	font-family: $roma;
	color: $red;
	&:hover, &:focus {
		text-decoration: none;
		color: #df524e;
	}
}

#{headings()} a {
  margin-bottom: 20px;
	word-wrap: break-word;
	font-weight: normal; 
	line-height: 1.1;
}

/*------------------------------------*\
  #STRONG
\*------------------------------------*/

strong, b {
	color: #1b1b1b;
	font-family: $roma;
	@include smoothing;
}

/*------------------------------------*\
  #BLOCKQUOTE
\*------------------------------------*/
   
blockquote {
	font-family: $roma;
	background-color: #eee;
	@include border-radius(4px);
	padding: 25px;
	color: $gray;
	font-style: italic;
	@include smoothing;
}

/*------------------------------------*\
  #TEXT-SHADOW
\*------------------------------------*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*------------------------------------*\
  #HORIZONTAL RULE BAR
\*------------------------------------*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*------------------------------------*\
  #FIELDSET
\*------------------------------------*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*------------------------------------*\
  #TEXTAREA
\*------------------------------------*/

textarea {
  resize: vertical;
}

/*------------------------------------*\
  #BROWSE HAPPY
\*------------------------------------*/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*------------------------------------*\
  #HELPER CLASSES
\*------------------------------------*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  &.focusable:active,
  &.focusable:focus {
		clip: auto;
	  height: auto;
	  margin: 0;
	  overflow: visible;
	  position: static;
	  width: auto;
  }
}

/*------------------------------------*\
  #CLEARFIX
\*------------------------------------*/
 
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/*------------------------------------*\
  #BREAKPOINTS (bootstrap overrides)
\*------------------------------------*/

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
} 
@media (min-width: 1470px) {
  .container {
    width: 1470px;
  }
}

/*------------------------------------*\
  #IE10 WIDTH SUPPORT
\*------------------------------------*/

/* For: http://getbootstrap.com/getting-started/#support-ie10-width */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


/*-------------------------------------*\
  #ROW PADDING (bootstrap overrides)
\*-------------------------------------*/

#header, 
#banner, 
#breadcrumb,
.main-nav,
#footer,
section,
#nav-top,
#view-more {
  .row {
	  padding: 0px 40px;
	}
}

@include x-large {
	#header, 
	#banner,
	#nav-top, 
	#breadcrumb,
	.main-nav,
	#footer,
	section,
	#view-more {
		.row {
			padding: 0px 115px;
		}
	}
}

/*-------------------------------------*\
  #SEARCH HIDE
\*-------------------------------------*/

#search,
.main-nav #search {
	display: none;
}

/*------------------------------------------*\
  #CONTAINER PADDING (bootstrap overrides)
\*-------------------------------------------*/
   
main#content .container {
  padding: 0px 40px;
    @include x-large {
      padding: 0 115px;
    }
    @include small {
      padding: 0px 10px;
    }
}

footer {
	padding-top: 100px;
}