{% extends 'index.html' %}
{% block inner_content %}
{% if validlink %}
<h1>Confirm Password Reset</h1>
<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
<form role="form" action="" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Change password" />
</form> {% else %}
<h1>Password reset unsuccessful</h1>
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %} 
{% endblock %}