{% extends 'index.html' %}
{% block inner_content %}
<h1>Password Change Form</h1>
<form role="form" action="" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
{% endblock %}
