/*****
 * TABLE OF CONTENTS
 *
 * FONT COLORS
 *   - Source: http://standards.wharton.upenn.edu/color
 *   - primary
 *   - secondary
 *   - accent
 *   - custom
 *
 *****/

   
/*------------------------------------*\
    #PRIMARY 
\*------------------------------------*/

$red: #981e32;
$blue: #002C77;
   
/*------------------------------------*\
    #SECONDARY
\*------------------------------------*/
  
$green: #5EB346;
$violet: #90519B; 
$skyBlue: #0E76BC;
$orange: #F3753A;
$brightRed: #DF524E;
  
/*------------------------------------*\
    #ACCENT
\*------------------------------------*/

$darkGray: #686868;
$lightGray: #AAAAAA;
$lightBlue: #B0C8DF;
$taupe: #DED9C2;
$offWhite: #F3F3F4;


/*------------------------------------*\
    #CUSTOM
\*------------------------------------*/

$gray: #3d3d3d;
$lightBlue: #2e55a4;