/**
 * TABLE OF CONTENTS
 *
 * MAIN NAV
 *    - states
 *    - container
 *    - links
 *    - search form
 *    - context small
 */
 
/*------------------------------------*\
    #STATES
\*------------------------------------*/
 
.main-nav {
	font-family: $helv;
	&.navbar-inverse .navbar-nav > .active > a {
		background: none;
		font-family: $helv;
		border-top: 4px solid $red;
		@include small {
			border-top: 0px;
		}
	}
	&.navbar-inverse {
		background: none;
		border: 0px;
	}	
	
}

/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/

.main-nav {
	min-height: 0px;
	margin-bottom: 0px;
	.container {
		height: 28px;
		background: url('../../../base_theme/img/bg/bg-MainNav.jpg') bottom center;
		display: block;
		background-color: #2e55a4;
		@include small {
			background: none;
			background-color: #002c77;
			height: 100%;
			padding-right: 0px;
			padding-left: 0px;
		}
	}
}

/*------------------------------------*\
    #LINKS
\*------------------------------------*/

.main-nav {
	&.navbar-inverse {
		li a {
			padding-top: 4px;
			padding-bottom: 4px;
			padding-left: 15px;
			font-family: $helv;
			@include smoothing;
			font-weight: 400;
			@include font-size(15px);
			color: #fff;
			border-left: 1px solid #6b87b8;
			border-right: 1px solid #244b8e;
			@include small {
				border: 0px;
				padding-sleft: 10px;
			}
			@include transition(all .4s ease 0s);
			&:hover, &:focus {
				background-color: $red;
			}
	  }
	  li.active a {
		  padding-top: 0px;
		  &:hover, &:focus {
			  background-color: $red;
		  }
	  }
	}
}

/*------------------------------------*\
    #SEARCH OPTION & SEARCH FORM
\*------------------------------------*/

#search {
	position: absolute;
	top: 21px;
	right: 0px;
	.input-group {
		padding: 10px 15px;
		width: 250px;
		background-color: #2b2b2b;
		@include border-radius(5px);
	}
	.input-group-btn:last-child > .btn, 
	.input-group-btn:last-child > .btn-group {
		margin-left: 0px;
	}
	.input-group-btn {
		.btn {
			border-color: $red;
			background-color: $red;
			color: #fff;
		}
	}
}

.main-nav {
	#search-option {
			display: none;
	}
	#search {
		background-color: #2b2b2b;
		position: relative;
		top: 0px;
		left: 0px;
		.input-group {
			width: 100%;
		}
	}
}

#glyph-search {
	background-color: #2b2b2b;
	.glyphicon-search {
		color: #eee;
	}
}
/*------------------------------------*\
    #CONTEXT SMALL
\*------------------------------------*/

ul.sidebar__context--small {
	display: none;
	padding-left: 0px;
	background-color: #e8e8e8;
	@include small {
		margin: 0px;
		display: block;
		li {
			background-color: #e8e8e8;
			border-bottom: 1px solid #fff;
			cursor: pointer;
			&.active {
				background-color: #d5d3d4 !important;
			}
			&:hover, &:focus {
					background-color: #f5f5f5 !important;
			}
			a {
				padding-left: 30px !important;
				color: #425cb3 !important;
				&:hover, &:focus {
					background: none !important;
					color: #000 !important;
				}
			}
		}
	}
}