/**
 * TABLE OF CONTENTS
 *
 * TOP-NAV
 *    - blocks, container
 *    - dropdown menu
 *    - top-nav leftbar
 *    - right block
 *    - top-nav search option
 */

/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/

#top-nav {
	.navbar-left {
		@include small {
			width: 100%;
		}
		&.navbar-nav {
			margin: 0px;
		}
	}
	.navbar-right {
		@include medium {
		 display: none;
	  }
  }
	.container {
		background-color: #000;
		height: 21px;
		@include small {
			padding: 0px;
			height: 0px;
		}
	}
	form {
		position: relative;
	}
	.navbar-nav {
		li {
			text-transform: uppercase;
			list-style-type: none;
		}
		a {
			padding: 1px 8px;
			@include font-size(11px);
			font-family: $helv;
			font-weight: 700;
			color: #fff;
			font-family: $helv;
			@include smoothing;
			&:hover, &:focus {
				background-color: #3d3d3d;
			}
		}
	}
}

/*------------------------------------*\
    #DROPDOWN MENU
\*------------------------------------*/

#top-nav {
	.dropdown-menu {
		margin-top: -2px;
		background-color: $gray;
		padding-top: 0px;
		padding-bottom: 0px;
		right: -1px;
		li a {
			padding-left: 8px;
			padding-top: 5px;
			padding-bottom: 5px;
			&:hover, &:focus {
				background-color: #999;
				color: #fff;
			}
		}
		.divider {
			margin: 2px 0;
		}
	}
	.dropdown-menu > li > a {
			color: #b4b4b4;
	}
}

/*------------------------------------*\
    #TOP-NAV LEFT BAR
\*------------------------------------*/

#top-nav__leftbar {
	background-color: $red;
	position: relative;
	width: 375px;
	margin-left: -115px;
	height: 21px !important;
	@include small {
		height: 5px !important;
		margin-left: 0px;
		width: 100%;
	}
}

/*------------------------------------*\
    #RIGHT BLOCK
\*------------------------------------*/

#top-nav .nav.navbar-nav.navbar-right {
	position: relative;
	padding-top: 0px;
	margin-top: 0px;
	margin-right: -1px;
}

/*------------------------------------*\
    #SEARCH-OPTION
\*------------------------------------*/

li#glyph-search {
	height: 21px !important;
  a {
	  padding: 1px 8px !important;
  }
}