/**
 * TABLE OF CONTENTS
 *
 * FOOTER 
 *    - container
 *    - columns
 *    - lists
 *    - links
 *    - headers
 *    - social icons
 *    - contexts
 *    - copyright
 */
 
/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/

#footer {
	.container {
		@include linear-gradient(#2e55a4,#0d2c68);
		min-height: 300px;
		height: 100%;
	}
}

/*------------------------------------*\
    #COLUMNS
\*------------------------------------*/

#footer {
	.col-md-3, 
	.col-md-2 {
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 20px;
	}
}

/*------------------------------------*\
    #LISTS
\*------------------------------------*/

#footer {
	ul {
		padding-left: 0px;
	}
	li {
		list-style-type: none;
		@include font-size(12px);
		padding-bottom: 15px;
		font-family: $helv;
	}
}

/*------------------------------------*\
    #KNOWLEDGE LINK
\*------------------------------------*/
	
#footer #knowledge-link {
	img {
		width: 90%;
		height: auto;
		padding-right: 10px;
		padding-top: 20px;
	}
}

/*------------------------------------*\
    #LINKS
\*------------------------------------*/

#footer {
	a {
	  color: #f5f5f5;
		text-decoration: none;
		font-family: $helv;
		font-weight: 400;
		@include font-size(12px);
		@include smoothing;
		&:hover {
			color: #ccc;
		}
	}
}

/*------------------------------------*\
    #HEADERS
\*------------------------------------*/

#footer {
	h5 {
		text-transform: uppercase;
		color: #A2B1D6;
		font-weight: bold;
		@include smoothing;
		@include font-size(13px);		
	}
}

/*------------------------------------*\
    #SOCIAL ICONS
\*------------------------------------*/

#footer	{
	.social-icons {
		padding-top: 30px;
	}
	.social-icons__links {
	  img {
		  @include large {
			  width: 23px;
			  height: auto;
		  }
		  @include small {
			  width: auto;
		  }
	  }
		li {
		  float: left;
		  padding-right: 7px;
		  @include medium {
			  padding-right: 15px;
		  }
	}
	
	}
}

/*------------------------------------*\
    #CONTEXTS
\*------------------------------------*/

#footer {
	@include medium {
	  .container {
		  min-height: 200px;
	  }
	  .row {
		  padding: 0px 0px;
	  }  
	  #knowledge-link img,
	  .custom-app-link,
	  .col-md-2, 
	  .col-md-3 {
		  display: none;
	  }
	  .social-icons {
		  display: block;
		  padding-left: 18px;
	  }	
	  .copyright {
		  display: block;
		  img {
			  display: none;
		  }
	  }
  }
  @include small {
	 .social-icons {
		  display: block;
		  padding-left: 0px;
	  }	
  }
}

/*------------------------------------*\
    #QUICKLINKS
\*------------------------------------*/

#footer {
	.quicklinks {
		border-left: 1px solid #a2b1d0;
		padding-left: 35px;
		&.context--small {
			display: none;
			@include medium {
				display: block;
				text-align: left;
				border: 0px;
				padding-left: 0px;
				li {
					float: left;
					padding-right: 20px;
				}
			}
		}
	}
}

/*------------------------------------*\
    #COPYRIGHT
\*------------------------------------*/

#footer {
	.copyright {
		padding-top: 15px;
		clear: both;
		p {
			font-color: #f5f5f5;
			color: #fff;
			font-family: $helv;
			@include font-size(12px);
			vertical-align: middle;
			font-weight: 400;
			padding-top: 15px;
			padding-left: 0px;
			a {
				padding-right: 0px;
				@include small {
					padding-right: 2px;
				}
				&:nth-of-type(2) {
				  padding-right: 5px;
			  }
			}
			.custom-app-link a {
				padding-left: 5px;
			}
			@include medium {
				text-align: left;
				padding-top: 0px;
				padding-right: 0px;
				padding-left: 15px;
			}
			@include small {
				@include font-size(12px);
				padding-left: 0px;
			}
		}
		img {
		  float: left;
		  padding-right: 20px;
		}
	}
}