{% load staticfiles %}

{% block extra_head_top %}
	<link rel="stylesheet" href="{% static 'base_theme/bootstrap_css/bootstrap.min.css' %}" />
{% endblock %}
{% block main_nav %}
		<li><a href="{% url 'home' %}">Home</a></li> <li><a href="{% url 'about' %}">About</a></li>
		<li><a href="{% url 'contact' %}">Contact</a></li>
		<li><a href="http://localhost:8001/admin">Admin</a> </li>
		{% if user.is_authenticated %} <li>
		<a href="{% url 'auth_logout' %}">Logout</a> </li>
		{% else %} <li>
		<a href="{% url 'auth_login' %}">Login</a> </li>
		<li>
		<a href="{% url 'registration_register'%}">Create Account</a>
		</li>
		{% endif %}
{% endblock %}




{% block inner_content %}
			<h1>Welcome to the Foosball App!</h1>


			{% for person in persons %}

			  {% if user == person.user %}
			    Welcome back {{ user }} !
	       <h2><a href="{% url 'thing_detail' slug=person.user.username %}"> Your Profile
		  {% endif %}




{% endfor %}
{% endblock %}

{% block extra_footer_js %}
    <script src="{% static 'base_theme/js/jquery.min.css' %}"></script>
    <script src="{% static 'base_theme/js/bootstrap.min.css' %}"></script>
{% endblock %}
