{% extends 'index.html' %}
{% block inner_content %}
<h1>Challenge another team</h1>
<form role="form" action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {{ form.opponent.label_tag }}
    {{ form.opponent }}
    {{ form.opponent.errors }}
    <input type='submit'>
</form>
{% endblock %}
