{% extends 'index.html' %}

{% block inner_content %}
<h2>Create a new team or join one below:</h2>
<form role="form" action="" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
{% endblock %}