{% extends 'index.html' %}
{% block inner_content %}
<form role="form" action="" method="post">
	{% csrf_token %}
	{{ form.non_field_errors }}

	<div>
		{{ form.team.label_tag }}
		{{ form.team }}
		{{ form.team.errors }}
	</div>
	<div>
		{{ form.team_name.label_tag }}
		{{ form.team_name }}
		{{ form.team_name.errors }}
	</div>
	<div>
		{{ form.description.label_tag }}
		{{ form.description }}
		{{ form.description.errors }}
	</div>
		<button type="submit">Submit</button>
</form>


{% endblock %}
