{% extends 'index.html' %}
{% block inner_content %}
<h1>Game results</h1>

<ul>
  {% for game in games %}
    <li>{{ game }} - Winner: {{ game.winner }}</li>
  {% empty %}
    <li>There are no completed games.
  {% endfor %}
</ul>
{% endblock %}
