{% extends 'index.html' %}
{% block inner_content %}
<h1>Teams</h1>

{% for team in teams %}
<h2>{{ team.name }}</h2>
<ul>
  <li>Members:
    <ul>
      {% for person in team.person_set.all %}
      <li>{{ person.user.username }}</li>
      {% endfor %}
    </ul>
  </li>
  <li>Total games: {{ team.game_count }}</li>
	<li>Games won: {{ team.games_as_winner.count }}</li>
	<li>Games lost: {{ team.games_as_loser.count }}</li>
</ul>
{% endfor %}
{% endblock %}
