{% extends 'index.html' %}
{% block inner_content %}
<h1>Your Profile</h1>
<p>Your Username: {{ user }}</p>
<p>Your Email: {{ user.email }}</p>
{% with person.team as team %}
	<p>On Team: {{ team.name }}</p>
	<p>Description of Team: {{ team.description|linebreaksbr }}</p>
		{% if user == person.user %}
			<a href="{% url 'edit_thing' slug=person.user.username %}">Edit me!</a>
		{% endif %}
	<p>Total games: {{ team.game_count }}</p>
	<p>Games won: {{ team.games_as_winner.count }}</p>
	<p>Games lost: {{ team.games_as_loser.count }}</p>
{% endwith %}
<a href="{% url "challenge" %}">Challenge a team</a>
{% endblock %}
